<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>2044F43D-F62F-4BAC-8E28-B68B9D4D3950.playgroundpage</string>
		<string>351E0DFF-FA82-4922-AB7E-5CF289AD5EB9.playgroundpage</string>
		<string>B7012780-8224-4C51-892D-DF8E7C5EA3AC.playgroundpage</string>
		<string>20295C3D-0AA5-4AA3-83B5-33A32E6743C5.playgroundpage</string>
		<string>ECC9E476-3FC6-4907-93B9-A1F7A0E20E94.playgroundpage</string>
		<string>360F5A14-66F2-4DC8-AC87-BE928EF9C4E8.playgroundpage</string>
		<string>54498381-AC8B-4C67-B494-4237C88F1D6C.playgroundpage</string>
		<string>D9E650AE-DB30-40EF-8541-E8015C06EFE5.playgroundpage</string>
		<string>17CDD30E-D08E-4ED3-AFFA-8951F929E215.playgroundpage</string>
		<string>C4975336-BA83-4B19-9B0E-EE868AD3BD4E.playgroundpage</string>
		<string>58AEAE12-E0D8-48BE-8A35-396F24AF43C6.playgroundpage</string>
		<string>7FC41DD2-0076-4D9A-B80A-0510FCA2356D.playgroundpage</string>
	</array>
</dict>
</plist>
