<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseContentIdentifier</key>
	<string>com.apple.playgrounds.blank</string>
	<key>BaseContentVersion</key>
	<string>1.0</string>
	<key>ContentType</key>
	<string>PlaygroundBookUserEdit</string>
	<key>Diffs</key>
	<dict>
		<key>Chapters/Chapter1.playgroundchapter/Pages/17CDD30E-D08E-4ED3-AFFA-8951F929E215.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/17CDD30E-D08E-4ED3-AFFA-8951F929E215.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/19D68792-2013-4EE9-970C-567E7DD2AD62.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/19D68792-2013-4EE9-970C-567E7DD2AD62.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/1A1DE1F9-AB6F-42AD-AC47-F5E3BC9CBE0A.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/1A1DE1F9-AB6F-42AD-AC47-F5E3BC9CBE0A.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/20295C3D-0AA5-4AA3-83B5-33A32E6743C5.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/20295C3D-0AA5-4AA3-83B5-33A32E6743C5.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/2044F43D-F62F-4BAC-8E28-B68B9D4D3950.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/2044F43D-F62F-4BAC-8E28-B68B9D4D3950.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/351E0DFF-FA82-4922-AB7E-5CF289AD5EB9.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/351E0DFF-FA82-4922-AB7E-5CF289AD5EB9.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/360F5A14-66F2-4DC8-AC87-BE928EF9C4E8.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/360F5A14-66F2-4DC8-AC87-BE928EF9C4E8.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/54498381-AC8B-4C67-B494-4237C88F1D6C.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/54498381-AC8B-4C67-B494-4237C88F1D6C.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/56777EF9-A69A-4A91-9A02-B739A1B680A3.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/56777EF9-A69A-4A91-9A02-B739A1B680A3.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/58AEAE12-E0D8-48BE-8A35-396F24AF43C6.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/58AEAE12-E0D8-48BE-8A35-396F24AF43C6.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/7FC41DD2-0076-4D9A-B80A-0510FCA2356D.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/7FC41DD2-0076-4D9A-B80A-0510FCA2356D.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/B7012780-8224-4C51-892D-DF8E7C5EA3AC.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/B7012780-8224-4C51-892D-DF8E7C5EA3AC.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/C4975336-BA83-4B19-9B0E-EE868AD3BD4E.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/C4975336-BA83-4B19-9B0E-EE868AD3BD4E.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/D9E650AE-DB30-40EF-8541-E8015C06EFE5.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/D9E650AE-DB30-40EF-8541-E8015C06EFE5.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/ECC9E476-3FC6-4907-93B9-A1F7A0E20E94.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/ECC9E476-3FC6-4907-93B9-A1F7A0E20E94.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/UserManifest.plist</key>
		<string>Added</string>
	</dict>
	<key>FormatVersion</key>
	<integer>2</integer>
	<key>UpdatedContentVersion</key>
	<string>1.0</string>
</dict>
</plist>
