<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>0D2A40B8-05FE-4A6B-874C-CDB043176C60.playgroundpage</string>
		<string>C6CC21FE-235A-45B4-979B-F79178F4D8DF.playgroundpage</string>
		<string>FF8BD10E-5135-4654-B854-FEE30A780210.playgroundpage</string>
	</array>
</dict>
</plist>
